.app{
    text-align: center;
}
.app .searchBar{
    width:50%;
    display: inline-block;
}
.app .cardBlock{
    display: inline-block;
    margin:20px;
    border:1px solid #ddd;
    text-align: center;
}